<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Deets</title>
</head>

<body>
    <div class="container-fluid">
        <center>
            <div class="row">
                <div>
                    <h1>Superhero Details</h1><br /><br />
                </div>
                <div>
                    <h1>{{selected_hero.name}}</h1>
                    <table border="1">
                        <tr>
                            <th>Alter Ego</th>
                            <th>Primary Ability</th>
                            <th>Secondary Ability</th>
                            <th>Catchphrase</th>
                        </tr>
                        <tr>
                            <td>{{selected_hero.alter_ego}}</td>
                            <td>{{selected_hero.primary_superpower}}</td>
                            <td>{{selected_hero.secondary_superpower}}</td>
                            <td>{{selected_hero.catchphrase}}</td>
                        </tr>
                        <button><a href=>Delete</a>


                    </table>
                </div>

</body>

</html>