<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Index</title>
</head>

<body>
    <h1>Superheroes:</h1>
    <ul>
        {% for superhero in all_superheroesapp %}
        <li>
            <h2> {{superhero.name}}</h2>
            <a href="{% url 'superheroesapp:details' superhero.id %}">Click for details</a>
        </li>
        {% endfor %}
    </ul>
    <p>
    <ul>
        <h2>Additional Options:</h2>
        <li><a href="{% url 'superheroesapp:create' %}">Create</a> your own superhero.</li>
        <li><a href="{% url 'superheroesapp:edit' %}">Edit</a> superhero.</li>
    </ul>
    <p>
        <img src="templates/superheroesapp/deadpool.jpg">
    </p>
</body>

</html>